html,
body {
  margin: 0;
  overflow: hidden;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.uipanel {
  height: 40px;
}
button{
  border:none;
}
.uibutton{
  height: 100%;
  padding: 10px 20px;
  font-size: 16px;
  border:none;
  float: right;
  border-left: 2px solid black;
}

.dropbtn {
  padding: 10px 20px;
  width: 200px;
  font-size: 16px;
}
.title{
  float: left;
  padding:8px 20px;
  width: 25%;
  font-size: 20px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  float: right;
  text-align: center;
  border-left: 2px solid black;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  border:none;
  border-left: 2px solid black;
  position: absolute;
  background-color: #f1f1f1;
  text-align: center;
  min-width: 200px;
  z-index: 1;
}
/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.upload {
  background: #ddd;
  height: 100%;
  width: 100%;
  margin: 30px;
  color: black;
}
ul {
  list-style-type: none;
  padding-left: 0;
  columns: 4;
}
li {
  position: relative;
}
li img {
  height: 50px;
  width: 50px;
}
li span {
  position: absolute;
  top: 30%;
  left: 60px;
}
