html,
body {
  margin: 0;
  overflow: hidden;
}

.uipanel {
  padding: 20px;
}

.btn {
  background: #d93434;
  background-image: -webkit-linear-gradient(top, #d93434, #a60505);
  background-image: -moz-linear-gradient(top, #d93434, #a60505);
  background-image: -ms-linear-gradient(top, #d93434, #a60505);
  background-image: -o-linear-gradient(top, #d93434, #a60505);
  background-image: linear-gradient(to bottom, #d93434, #a60505);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 19px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #a30000;
  text-decoration: none;
}
.upload {
  background: #ddd;
  height: 100%;
  width: 100%;
  margin: 30px;
  color: black;
}
ul {
  list-style-type: none;
  padding-left: 0;
  columns: 4;
}
li {
  position: relative;
}
li img {
  height: 50px;
  width: 50px;
}
li span {
  position: absolute;
  top: 30%;
  left: 60px;
}
