html,
body {
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/* 
*********************
UI PANEL ON ALL VIEWS
*********************
*/

.uipanel {
  height: 40px;
}
button {
  border: none;
}
.fullscreen {
  height: 100%;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  float: right;
  border-left: 2px solid black;
}

.title {
  float: left;
  padding: 8px 25px;
  width: 25%;
  font-size: 20px;
}

/*
*****************************
DROPDOWN MENU TO CHANGE VIEWS
*****************************
*/

.dropbtn {
  padding: 10px 20px;
  width: 200px;
  font-size: 16px;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  float: right;
  text-align: center;
  border-left: 2px solid black;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  border: none;
  border-left: 2px solid black;
  position: absolute;
  background-color: #f1f1f1;
  text-align: center;
  min-width: 200px;
  z-index: 1;
}
/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}

/*
********************
UPLOAD PAGE ONLY CSS
********************
*/

.upload {
  padding: 30px;
  color: black;
  background: #eee;
}

#playerNameInput {
  font-size: 16px;
  background: none;
  border: black solid 2px;
  padding: 5px;
  margin-right: 20px;
}
#addPlayerBtn {
  padding: 8px 10px;
  background: none;
  border: black solid 2px;
  border-radius: 20px;
}
ul {
  list-style-type: none;
  padding: 0;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}
li {
  height: 50px;
  background: #add8e6;
  display: grid;
  grid-template-columns: auto auto 1fr auto;
}

li input {
  align-self: center;
  margin: 0 8px;
}

li img {
  height: 50px;
  width: 50px;
  margin: 0 8px;
}

li span {
  align-self: center;
}

li button {
  padding: 0 16px;
}
